*{
	font-family: helvetica;
	margin: 0px;
}

#wrapperHeader{
    position: relative;
    background-image:url(images/header.jpg);
}

#header{
    background:url(images/header.jpg);
    width:100%;
	  height:20%; //your desired height
	  position:absolute;
	  top:0;
	  left:0;
}

main{
	margin: 20px;
}



nav{
	background-color: black;
	color: white;
	padding: 18px;
	text-align: right;
}

section{
	border-style: solid;
	border-color: grey;
	border-width: 1px;
	border-radius: 12px;
	margin: 10px;
	padding: 10px;
	background-color: white;
}

p{
	color: grey;
	margin: 10px;
	text-align: justify;
	padding: 10px;
}

h2{
	margin-top: 2px;
	font-family: montserrat;
}

span{
	font-size: 10px;
}

hr{
	margin: 10px;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

li {
  display: inline;
}

li {
  float: right;
}

a {
  padding: 8px;
  color: grey;
}

a:hover {
  color: #cc9999;
}


ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: black;
}

li {
  float: center;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-family: oswald;
}

li a:hover {
  background-color: grey;
}

button{
	background-color: #cc9999;
	color: white;
	padding: 5px;
	border-radius: 8px;
	border-color: #cc9999;
	cursor: pointer;
}



fieldset{
	background-color: #ebe6e4;
}

h1{
	font-family: oswald;
	background-color: white;
}

#content{
 	text-align: center;
	font-size: 12px;
	background-color: #d7d7d7;
	display: block;
	li
}

footer{
	text-align: center;
}

#more {display: none;}